@using Codeer.LowCode.Blazor.Components
@using Codeer.LowCode.Blazor.Components.Interop
@using Codeer.LowCode.Blazor.Extras.Fields
@using Codeer.LowCode.Blazor.Extras.Properties
@using Microsoft.AspNetCore.Components.Forms
@using Codeer.LowCode.Blazor.Repository.Design
@using Codeer.LowCode.Blazor.Components.Dialog
@using Microsoft.AspNetCore.Components.Web
@inherits FieldComponentBase<MarkerListField>

@if (string.IsNullOrEmpty(Field.ObjectUrl))
{
  if (Field.Services.AppInfoService.IsDesignMode)
  {
    <div>
      <span>MarkerList</span>
    </div>
  }
}
else
{
  <div class="scroll-host">
      <div class="img-overlay"
           @ondblclick="HandleBackgroundClick"
           style="@(IsEditable ? "" : "cursor: default;")">

        <img src="@($"data:image/{Field.ImageExtension};base64,{Field.ObjectUrl}")" alt="@Resources.Base64Image" class="base-img" draggable="false" />

        @foreach (var m in Field.MarkerList)
        {
          <div class="marker"
               style="@GetMarkerStyle(m)"
               @onclick="@(() => HandleMarkerClick(m))"
               @onclick:stopPropagation="true">
            <div class="circle"></div>
            <div class="label">@m.Label</div>
          </div>
        }
    </div>
  </div>
}

@code {
  private bool IsEditable => !Field.IsViewOnly && Field.IsEnabled;

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
  }

  string GetMarkerStyle(Marker m)
    => $"left:{m.X}px; top:{m.Y}px;";

  async Task HandleMarkerClick(Marker m)
    => await Field.OnMarkerClickAsync(m, !IsEditable);

  async Task HandleBackgroundClick(MouseEventArgs e)
  {
    if (!IsEditable && string.IsNullOrEmpty(Field.Design.OnDoubleClickPoint)) return;
    var x = (int)Math.Round(e.OffsetX);
    var y = (int)Math.Round(e.OffsetY);
    await Field.AddAsync(x, y);
  }
}
